h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
.chabot-logo {
  height: 100%;
  margin-right: 20px;
}
.menu-header-button {
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #a02a2d;
}
.menu-header-button:visited, .menu-header-button:link {
  color: #000000;
}
.menu-header-button:hover {
  background-color: #b53035;
}

li {
  display:inline;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 2;
  background-color: #a02a2d;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.reconnect {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}