<div class="backtest-coins-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search coin ..." type="text">
  </mat-form-field>
  <div class="backtest-coins-grid">
    <mat-card class="coin-card" *ngFor="let coin of coins" [attr.id]="coin">
      <mat-card-header>
        <mat-card-title>
          <button mat-raised-button color="primary" [routerLink]="['/analysis', coin , 'kline']">{{coin}}</button>
          <button mat-raised-button color="secondary" [routerLink]="['/analysis', coin , 'backtest']">{{coin}}</button>
        </mat-card-title>
      </mat-card-header>
      <!-- <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/details', coin , 'backtest']">Go!</button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</div>