<div #chartTarget>chart</div>

<!-- <select [(ngModel)]="selectedIndicator" id="selectedIndicator" (change)="selectIndicator();">
  <option value="" disabled selected>indicator</option>
  <option *ngFor="let item of objectKeys(indicators)" [value]="indicators[item].id">{{indicators[item].name}}</option>
</select> -->


<div class="scrolling-wrapper">
  <!-- <div class="card"><h2>card</h2></div> -->

  <ul class="indicators" *ngFor="let indicator of objectKeys(indicatorsDefaultParams)">
    <span class="addBadge">{{indicator}}</span>
    <button class="add" title="add indicator" (click)="add(indicator)">+</button>
    <div *ngFor="let param of objectKeys(indicatorsDefaultParams[indicator])">
      <label>{{param}}:
        <input type="number" [(ngModel)]="indicators[indicator].params[param]" placeholder="{{indicatorsDefaultParams[indicator][param]}}">
      </label>
    </div>
  </ul>
</div>

<ul class="indicators">
  <li *ngFor="let indicator of objectKeys(activeIndicators)">
    <span class="badge">{{activeIndicators[indicator]}}</span>
    <button class="delete" title="delete indicator" (click)="delete(indicator)">x</button>
  </li>
</ul>


<div *ngIf="coins[symbol]">
  <h2>{{symbol}} Details</h2>
  <div>
    <span>avg. price: </span>{{coins[symbol].averagePrice}}</div>
  <div>
    <span>price change: </span>{{coins[symbol].percentChange}}% ({{coins[symbol].priceChange}})</div>
  <div>
    <span>volume: </span>{{coins[symbol].volume}}</div>
  <div>
    <span>quote volume: </span>{{coins[symbol].quoteVolume}}</div>
  <div>
    <span>trades: </span>{{coins[symbol].numTrades}}</div>
  <!-- <div>
    <label>name:
      <input [(ngModel)]="coin.symbol" placeholder="symbol"/>
    </label>
  </div> -->
  <!-- <button (click)="getPrice()">PRICE</button> -->
</div>

<button (click)="backtest()">backtest</button>
<button (click)="goBack()">go back</button>