<button type="button" mat-button (click)="backtestSidenav.toggle()">
  backtest
</button>

<mat-sidenav-container>
  <!-- <mat-drawer-container autosize> -->

  <mat-sidenav-content>
    <div class="chart">
      <div #chartTarget>chart</div>
    </div>

    <ul class="indicators">
      <li *ngFor="let indicator of objectKeys(activeIndicators)">
        <span class="badge">{{activeIndicators[indicator]}}</span>
        <button class="delete" title="delete indicator" (click)="delete(indicator)">x</button>
      </li>
    </ul>
    
    <div *ngIf="coins[symbol]">
      <h2>{{symbol}} Details</h2>
      <div>
        <span>avg. price: </span>{{coins[symbol].averagePrice}}</div>
      <div>
        <span>price change: </span>{{coins[symbol].percentChange}}% ({{coins[symbol].priceChange}})</div>
      <div>
        <span>volume: </span>{{coins[symbol].volume}}</div>
      <div>
        <span>quote volume: </span>{{coins[symbol].quoteVolume}}</div>
      <div>
        <span>trades: </span>{{coins[symbol].numTrades}}</div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #backtestSidenav mode="side">
    <mat-list>
      <mat-list-item>Indicators</mat-list-item>

      <!-- <div class="indicators-select"> -->
      <mat-accordion>
        <mat-expansion-panel *ngFor="let indicator of objectKeys(indicatorsDefaultParams)">
          <!-- <mat-expansion-panel class="accordion"> -->
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{indicator}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ul *ngFor="let param of objectKeys(indicatorsDefaultParams[indicator])">
              <mat-form-field>
                <input matInput placeholder="{{param}}" value="{{indicatorsDefaultParams[indicator][param]}}"
                  [(ngModel)]="indicators[indicator].params[param]">
              </mat-form-field>
            </ul>
            <ul>
              <button class="add" title="add indicator" (click)="add(indicator)">+</button>
            </ul>
          <!-- </mat-expansion-panel> -->
        </mat-expansion-panel>
      </mat-accordion>
      <!-- </div> -->

      <mat-divider></mat-divider>
      <mat-list-item>Backtest</mat-list-item>

      <!-- <div id="backtest"> -->
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Select Backtest
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-select placeholder="{{selectedStrategy}}" [(ngModel)]="selectedStrategy" (selectionChange)="runBacktest();">
              <mat-option *ngFor="let item of strategies" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>
      <!-- </div> -->
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>

<button (click)="goBack()">go back</button>