
.coin-params-item {
    float: right;
    padding: 10px;
}

.coin-params-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coin-params-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;
    margin: auto;
  }

.mat-grid-tile {
    color: #cccccc;
    text-align: center;
}