/* .coin-params-item {
    float: right;
    padding: 10px;
}

.coin-params-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coin-params-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    justify-items: center;
    height: 100%;
    margin: auto;
  } */

.analysis-block {
    margin-top: 10px;
}

.ohlc-chart {
    width: 100%;
}

.mat-grid-tile {
    color: #cccccc;
    text-align: center;
    font-size: 14px;
}

.trades-list {
    height: 600px;
    overflow: auto;
    /* min-width: auto !important; */
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
    height: 20px;
}

.mat-header-cell {
    font-size: 12px;
    text-align: center;
    flex: 0 0 30% !important;
    min-width: 80px !important;
    /* width: 60px; */
}

.mat-table {
    width: 100%;
}

.mat-cell {
    flex: 0 0 30% !important;
    min-width: 80px !important;
    font-size: 10px;
}

.indicators {
    /* height: 100%; */
    overflow: auto;
    /* min-width: auto !important; */
    width: 100% !important;
}

.mat-grid-tile {
    overflow: auto;
    background: #424242;
}

.tech-analysis {
    height: 600px;
}

/* .mat-form-field {
    width: 90%;
} */

/* .mat-list {
    padding: 0px;
    width: 100% !important;
} */

/* .mat-list-item {
    font-size: 12px;
} */

.mat-expansion-panel {
    font-size: 12px;
}

.strat-description {
    text-align: left;
    font-size: 12px;
}